form {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 33px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 12%;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: #1e1e1f;
  color: black;
  margin-bottom: 26px;
}
